# COMP5318 Assignment 1: Classification

### Group number: 74  , SID1: 530601364 , SID2: Lee's

In [1]:
# Import all libraries
from sklearn.model_selection import StratifiedKFold
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

# to make this notebook's output stable across runs
np.random.seed(42)

In [2]:
# Load dataset
breast_cancer_df = pd.read_csv("breast-cancer-wisconsin.csv")
breast_cancer_df.head()
# breast_cancer_df.dtypes

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,class
0,5,1,1,1,2,1,3,1,1,class1
1,5,4,4,5,7,10,3,2,1,class1
2,3,1,1,1,2,2,3,1,1,class1
3,6,8,8,1,3,4,3,7,1,class1
4,4,1,1,3,2,1,3,1,1,class1

In [3]:
breast_cancer_df.iloc[23, 5]

'?'

In [4]:
breast_cancer_df = breast_cancer_df.replace('?', 0)
type(breast_cancer_df.iloc[23, 5])

int

In [5]:
breast_cancer_df.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,class
0,5,1,1,1,2,1,3,1,1,class1
1,5,4,4,5,7,10,3,2,1,class1
2,3,1,1,1,2,2,3,1,1,class1
3,6,8,8,1,3,4,3,7,1,class1
4,4,1,1,3,2,1,3,1,1,class1

In [6]:
# Pre-process dataset

#Replacing missing values with mean value of the column
imputer = SimpleImputer(missing_values=0, strategy='mean')
imputer = imputer.fit(breast_cancer_df.iloc[:, :-1])
breast_cancer_df.iloc[:, :-1] = imputer.transform(breast_cancer_df.iloc[:, :-1])
# breast_cancer_df.iloc[23, 5]

# Normalising the values between [0,1]
breast_cancer_df.iloc[:, :-1] = MinMaxScaler().fit_transform(breast_cancer_df.iloc[:, :-1])
# breast_cancer_df.head()

# #Changing the class values to 0 and 1 respectively
# breast_cancer_df["class"] = breast_cancer_df["class"].astype("string")

breast_cancer_df = breast_cancer_df.replace('class1', '0')
breast_cancer_df = breast_cancer_df.replace('class2', '1')

# x = 0
# for i in breast_cancer_df["class"]:
#     if i == 'class1':
#         breast_cancer_df.iloc[x] = i.replace('class1', '0')
#         # breast_cancer_df["class"] = i.replace('class1', '0')
#         # i = i.replace('class1', '0')
#     else:
#         breast_cancer_df.loc["class"] = i.replace('class2', '1')
#         # breast_cancer_df["class"] = i.replace('class2', '1')
#         # i = i.replace('class2', '1')
#     x+=1

breast_cancer_df["class"] = breast_cancer_df["class"].astype(int)
breast_cancer_df.head(25)

C:\Users\user\AppData\Local\Temp\ipykernel_29176\2173903905.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  breast_cancer_df.iloc[:, :-1] = imputer.transform(breast_cancer_df.iloc[:, :-1])

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,class
0,0.444444,0.000000,0.000000,0.000000,0.111111,0.000000,0.222222,0.000000,0.000000,0
1,0.444444,0.333333,0.333333,0.444444,0.666667,1.000000,0.222222,0.111111,0.000000,0
2,0.222222,0.000000,0.000000,0.000000,0.111111,0.111111,0.222222,0.000000,0.000000,0
3,0.555556,0.777778,0.777778,0.000000,0.222222,0.333333,0.222222,0.666667,0.000000,0
4,0.333333,0.000000,0.000000,0.222222,0.111111,0.000000,0.222222,0.000000,0.000000,0
5,0.777778,1.000000,1.000000,0.777778,0.666667,1.000000,0.888889,0.666667,0.000000,1
6,0.000000,0.000000,0.000000,0.000000,0.111111,1.000000,0.222222,0.000000,0.000000,0
7,0.111111,0.000000,0.111111,0.000000,0.111111,0.000000,0.222222,0.000000,0.000000,0
8,0.111111,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.444444,0
9,0.333333,0.111111,0.000000,0.000000,0.111111,0.000000,0.111111,0.000000,0.000000,0
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.222222,0.000000,0.000000,0
11,0.111111,0.000000,0.000000,0.000000,0.111111,0.000000,0.111111,0.000000,0.000000,0
12,0.444444,0.222222,0.222222,0.222222,0.111111,0.222222,0.333333,0.333333,0.000000,1
13,0.000000,0.000000,0.000000,0.000000,0.111111,0.222222,0.222222,0.000000,0.000000,0
14,0.777778,0.666667,0.444444,1.000000,0.666667,0.888889,0.444444,0.444444,0.333333,1
15,0.666667,0.333333,0.555556,0.333333,0.555556,0.000000,0.333333,0.222222,0.000000,1
16,0.333333,0.000000,0.000000,0.000000,0.111111,0.000000,0.111111,0.000000,0.000000,0
17,0.333333,0.000000,0.000000,0.000000,0.111111,0.000000,0.222222,0.000000,0.000000,0
18,1.000000,0.666667,0.666667,0.555556,0.333333,1.000000,0.333333,0.000000,0.111111,1
19,0.555556,0.000000,0.000000,0.000000,0.111111,0.000000,0.222222,0.000000,0.000000,0
20,0.666667,0.222222,0.111111,1.000000,0.444444,1.000000,0.444444,0.333333,0.333333,1
21,1.000000,0.444444,0.444444,0.222222,0.555556,0.666667,0.666667,1.000000,0.000000,1
22,0.222222,0.000000,0.000000,0.000000,0.111111,0.000000,0.111111,0.000000,0.000000,0
23,0.777778,0.333333,0.444444,0.000000,0.111111,0.282740,0.666667,0.222222,0.000000,1
24,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.222222,0.000000,0.000000,0

In [ ]:
# Print first ten rows of pre-processed dataset to 4 decimal places as per assignment spec
# A function is provided to assist

x = breast_cancer_df.drop('class', axis=1).values
y = y = breast_cancer_df['class'].values

def print_data(X, y, n_rows=10):
    """Takes a numpy data array and target and prints the first ten rows.
    
    Arguments:
        X: numpy array of shape (n_examples, n_features)
        y: numpy array of shape (n_examples)
        n_rows: numpy of rows to print
    """
    for example_num in range(n_rows):
        for feature in X[example_num]:
            print("{:.4f}".format(feature), end=",")

        if example_num == len(X)-1:
            print(y[example_num],end="")
        else:
            print(y[example_num])
            

print_data(x, y)

In [7]:
#test git
print("LEE MADE CHANGES!!!!!!!!!!!!!!!!")

LEE MADE CHANGES!!!!!!!!!!!!!!!!

### Part 1: Cross-validation without parameter tuning

In [ ]:
## Setting the 10 fold stratified cross-validation
cvKFold=StratifiedKFold(n_splits=10, shuffle=True, random_state=0)

# The stratified folds from cvKFold should be provided to the classifiers

In [ ]:
# Logistic Regression
def logregClassifier(X, y):

    return scores.mean()

In [ ]:
#Naïve Bayes
def nbClassifier(X, y):

    return scores.mean()

In [ ]:
# Decision Tree
def dtClassifier(X, y):

    return scores.mean()

In [ ]:
# Ensembles: Bagging, Ada Boost and Gradient Boosting
def bagDTClassifier(X, y, n_estimators, max_samples, max_depth):

    return scores.mean()

def adaDTClassifier(X, y, n_estimators, learning_rate, max_depth):

    return scores.mean()

def gbClassifier(X, y, n_estimators, learning_rate):

    return scores.mean()

### Part 1 Results

In [ ]:
# Parameters for Part 1:

#Bagging
bag_n_estimators = 60
bag_max_samples = 100
bag_max_depth = 6

#AdaBoost
ada_n_estimators = 60
ada_learning_rate = 0.5
ada_bag_max_depth = 6

#GB
gb_n_estimators = 60
gb_learning_rate = 0.5

# Print results for each classifier in part 1 to 4 decimal places here:
print("LogR average cross-validation accuracy: ")
print("NB average cross-validation accuracy: ")
print("DT average cross-validation accuracy: ")
print("Bagging average cross-validation accuracy: ")
print("AdaBoost average cross-validation accuracy: ")
print("GB average cross-validation accuracy: ")

### Part 2: Cross-validation with parameter tuning

In [ ]:
# KNN
k = [1, 3, 5, 7, 9]
p = [1, 2]


def bestKNNClassifier(X, y):
    
    return #(appropriate values so that the required printing can be done)

In [ ]:
# SVM
# You should use SVC from sklearn.svm with kernel set to 'rbf'
C = [0.01, 0.1, 1, 5, 15] 
gamma = [0.01, 0.1, 1, 10, 50]

def bestSVMClassifier(X, y):

    return  #(appropriate values so that the required printing can be done)

In [ ]:
# Random Forest
# You should use RandomForestClassifier from sklearn.ensemble with information gain and max_features set to ‘sqrt’.
n_estimators = [10, 30, 60, 100, 150]
max_leaf_nodes = [6, 12, 18]

def bestRFClassifier(X, y):

    return #(appropriate values so that the required printing can be done)

### Part 2: Results

In [ ]:
# Perform Grid Search with 10-fold stratified cross-validation (GridSearchCV in sklearn). 
# The stratified folds from cvKFold should be provided to GridSearchV

# This should include using train_test_split from sklearn.model_selection with stratification and random_state=0
# Print results for each classifier here. All results should be printed to 4 decimal places except for
# "k", "p", n_estimators" and "max_leaf_nodes" which should be printed as integers.
print("KNN best k: ")
print("KNN best p: ")
print("KNN cross-validation accuracy: ")
print("KNN test set accuracy: ")

print()

print("SVM best C: ")
print("SVM best gamma: ")
print("SVM cross-validation accuracy: ")
print("SVM test set accuracy: ")

print()

print("RF best n_estimators: ")
print("RF best max_leaf_nodes: ")
print("RF cross-validation accuracy: ")
print("RF test set accuracy: ")
print("RF test set macro average F1: ")
print("RF test set weighted average F1: ")